
<script>
var url = "https://phaidra.cab.unipd.it/api/search/?q=pianta";
		 
		 $.getJSON(url, function(response){
		 console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 
		 
		     var myId = campo.PID.substring(2);
		 
		     var myPid=campo.PID;
		     console.log(campo.PID);	
	         var url2 = "https://phaidra.cab.unipd.it/api/object/"+myPid+"/index";
	  
		     $.getJSON(url2, function(response2){		 
		 	 
			 
		  
             console.log(response2);
		  
             var myData = '';
		     $.each(response2, function(a,field){	
			 var field=response2;
			   
			 myData= "<strong>"+field.dc_title +"</strong>"+ "<div></div>"+ field.dc_description;
			 
			 myData='<br></br><img src="https://fc.cab.unipd.it/fedora/objects/'+myPid+'/methods/bdef:Asset/getThumbnail">'	 
			
			

});

 //$("#dc").append(myData);




});
});
});			 
			 </script>
			 

<div id="dc"></div>
			 
			 
			 