
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+";
		 
		 $.getJSON(url, function(response){
		 console.log(response.objects);	
		 $.each(response.objects, function(a,campox){
		 		 			     
		 console.log("<strong>"+campox['PID']+"</strong>"+"<hr></hr>");
		 console.log("<it>"+campox['uw.general.description']+"</it>");
			 
	   var myData = '';

		     


         //myData+="<br></br><img src=https://fc.cab.unipd.it/fedora/objects/"+myPid+"/methods/bdef:Asset/getThumbnail>"
		 
         myData+=campox['PID'];
		 myData+=campox['uw.general.description'];	
		 myData+='<div><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">'
	     console.log(myData);
		  
		  	  
		  
		  
		  $("#dc").append(myData); 
		


		 });
		 });
		 
		
		 
		 
		 </script>
		 
		 <div id="dc"></div>
			