.form-wrapper {
	background-color: #fff;
	padding: 20px 20px 40px 20px;
	box-shadow: 0 0 2px #a4a4a4;
	border-radius: 3px;
}

.fieldsetTable {
	display: table;
	width: 100%;
}

.fieldsetColumn {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	padding: 0 0 20px 0;
}

.fieldsetColumn.first {
	padding: 0 20px 0 0;
}

fieldset {
	padding: 10px 10px 26px 10px !important;
	margin-bottom: 10px !important;
	border: 1px solid #ccc !important;
	border-radius: 2px;border: 1px solid red;
}

fieldset img {
	position: relative;
	top: 16px;
	margin-bottom: 6px;
}

input[type="radio"], input[type="checkbox"] {
	position: relative;
	top: 5px;
}

input[type="text"] {
	caret-color: #EB001E;
	padding: 4px 6px;
	border-radius: 2px;
	background-color: #FFFDEB;
}

#objectTypeNote {
	padding: 10px;
	background-color: #666;
	color: #fff;
	position: relative;
	top: 20px;
	margin-bottom: 10px;
	border-radius: 2px;
}